{% extends 'admin/base_site.html' %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
{%if request.user.vai_tro_id == 1 %}
    <container>


        <center><h2>THỐNG KÊ DOANH THU THEO THÁNG TRONG NĂM {{year}}</h2></center>
        <div><canvas id="myChart" width="80" height="20vh"></canvas></div>
        <script>
            const config = {
                type: 'bar',
                data:{
                    labels: {{labelsc|safe}},
                        datasets: [{
                            label: 'Doanh thu theo tháng',
                            data: {{datac|safe}},
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                        },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                }
            }
            const myChart1 = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>

        <br/><br/>
        <hr/><br/><hr/>
        <br/><br/>
        <center><h2>THỐNG KÊ MẬT ĐỘ CHUYẾN XE THEO TUYẾN</h2></center>
        <div><canvas id="myChart2" width="80" height="20vh"></canvas></div>
        <script>
            const configg = {
                type: 'bar',
                data :{
                labels: {{labels|safe}},
                    datasets: [{
                        label: 'Doanh thu theo tháng',
                        data: {{data|safe}},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            }
            const myChart = new Chart(
                document.getElementById('myChart2'),
                configg
            );

        </script>

    </container>
    </container>




{%endif%}
{% endblock %}